################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Example/FileContentIndex/f0fd81bf-0a9f-4edc-8af8-7336f327b192.vsidx
